<!--
  ~ Copyright (c) Microsoft Corporation. All rights reserved.
  ~ Licensed under the MIT License. See LICENSE in the project root for license information.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.microsoft.embeddedsocial.sdk"
	>

	<application>

		<activity
			android:name="com.microsoft.embeddedsocial.ui.activity.HomeActivity"
			android:configChanges="keyboard|keyboardHidden|screenSize"
			android:launchMode="singleTop"
			android:theme="@style/EmbeddedSocialSdkAppTheme.Stub"
			/>

		<activity android:name="net.openid.appauth.RedirectUriReceiverActivity">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<data android:scheme="${applicationId}"/>
			</intent-filter>
		</activity>
		<activity
			android:name="com.microsoft.embeddedsocial.ui.activity.SignInActivity"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize|layoutDirection"
			android:label="@string/es_screen_title_signin"
			android:windowSoftInputMode="stateHidden"
			android:theme="@style/EmbeddedSocialSdkAppTheme.Stub">
		</activity>
		<activity
			android:name="com.microsoft.embeddedsocial.ui.activity.GoogleCallbackActivity"
			android:label="@string/es_screen_title_signin"
			android:theme="@style/EmbeddedSocialSdkAppTheme.Stub">
			<intent-filter>
				<action android:name="com.microsoft.embeddedsocial.HANDLE_AUTHORIZATION_RESPONSE"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>

		<activity
			android:name="com.microsoft.embeddedsocial.ui.activity.PopularActivity"
			android:configChanges="keyboard|keyboardHidden|screenSize"
			android:windowSoftInputMode="stateHidden"
			android:label="@string/es_screen_title_popular"
			android:theme="@style/EmbeddedSocialSdkAppTheme.Stub"
			/>
		<activity
			android:name="com.microsoft.embeddedsocial.ui.activity.AddPostActivity"
			android:configChanges="keyboard|keyboardHidden|screenSize"
			android:label="@string/es_screen_title_add_post"
			android:windowSoftInputMode="stateHidden"
			android:theme="@style/EmbeddedSocialSdkAppTheme.Stub"
			/>
		<activity
			android:name="com.microsoft.embeddedsocial.ui.activity.BlockedUsersActivity"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
			android:label="@string/es_blocked_users_header"
			android:windowSoftInputMode="stateHidden"
			android:theme="@style/EmbeddedSocialSdkAppTheme.Stub"
			/>
		<activity
			android:name="com.microsoft.embeddedsocial.ui.activity.FollowersActivity"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
			android:label="@string/es_screen_title_followers"
			android:windowSoftInputMode="stateHidden"
			android:theme="@style/EmbeddedSocialSdkAppTheme.Stub"
			/>
		<activity
			android:name="com.microsoft.embeddedsocial.ui.activity.FollowingActivity"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
			android:label="@string/es_screen_title_following"
			android:windowSoftInputMode="stateHidden"
			android:theme="@style/EmbeddedSocialSdkAppTheme.Stub"
			/>
		<activity
			android:name="com.microsoft.embeddedsocial.ui.activity.TopicActivity"
			android:configChanges="keyboard|keyboardHidden|screenSize"
			android:label="@string/es_screen_title_topic"
			android:theme="@style/EmbeddedSocialSdkAppTheme.Stub"
			/>
		<activity
			android:name="com.microsoft.embeddedsocial.ui.activity.CommentActivity"
			android:configChanges="keyboard|keyboardHidden|screenSize"
			android:label="@string/es_screen_title_comment"
			android:theme="@style/EmbeddedSocialSdkAppTheme.Stub"
			/>
		<activity
			android:name="com.microsoft.embeddedsocial.ui.activity.AnotherUserProfileActivity"
			android:configChanges="keyboard|keyboardHidden|screenSize"
			android:label=""
			android:windowSoftInputMode="stateHidden"
			android:theme="@style/EmbeddedSocialSdkAppTheme.Stub"
			/>
		<activity
			android:name="com.microsoft.embeddedsocial.ui.activity.EditProfileActivity"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
			android:label="@string/es_screen_title_edit_profile"
			android:windowSoftInputMode="stateHidden"
			android:theme="@style/EmbeddedSocialSdkAppTheme.Stub"
			/>
		<activity
			android:name="com.microsoft.embeddedsocial.ui.activity.CreateProfileActivity"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
			android:label="@string/es_screen_title_create_profile"
			android:windowSoftInputMode="stateHidden"
			android:theme="@style/EmbeddedSocialSdkAppTheme.Stub"
			/>
		<activity
			android:name="com.microsoft.embeddedsocial.ui.activity.SearchActivity"
			android:configChanges="keyboard|keyboardHidden|screenSize"
			android:launchMode="singleTop"
			android:label=""
			android:theme="@style/EmbeddedSocialSdkAppTheme.Stub"
			>
			<meta-data
				android:name="android.app.searchable"
				android:resource="@xml/embeddedsocial_searchable"
				/>

			<intent-filter>
				<action android:name="android.intent.action.SEARCH"/>
			</intent-filter>
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT"/>

				<action android:name="android.intent.action.VIEW"/>

				<data android:scheme="search"/>
			</intent-filter>
		</activity>

		<activity
			android:name="com.microsoft.embeddedsocial.ui.activity.ReportActivity"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
			android:label="@string/es_report_title"
			android:windowSoftInputMode="stateHidden"
			android:theme="@style/EmbeddedSocialSdkAppTheme.Stub"
			/>

		<activity
			android:name="com.microsoft.embeddedsocial.ui.activity.LikesActivity"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
			android:label="@string/es_screen_title_likes"
			android:windowSoftInputMode="stateHidden"
			android:theme="@style/EmbeddedSocialSdkAppTheme.Stub"
			/>

		<activity
			android:name="com.microsoft.embeddedsocial.ui.activity.LinkedAccountsActivity"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
			android:label="@string/es_screen_title_linked_accounts"
			android:theme="@style/EmbeddedSocialSdkAppTheme.Stub"
			android:windowSoftInputMode="stateHidden"
			/>


		<activity
			android:name="com.microsoft.embeddedsocial.ui.activity.RecentActivityActivity"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
			android:label="@string/es_screen_title_activity"
			android:windowSoftInputMode="stateHidden"
			android:theme="@style/EmbeddedSocialSdkAppTheme.Stub"
			/>

		<activity
			android:name="com.microsoft.embeddedsocial.ui.activity.FollowRequestsActivity"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
			android:label="@string/es_screen_title_follow_requests"
			android:windowSoftInputMode="stateHidden"
			android:theme="@style/EmbeddedSocialSdkAppTheme.Stub"
			/>

		<activity
			android:name="com.microsoft.embeddedsocial.ui.activity.DisplayNoteActivity"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
			android:windowSoftInputMode="stateHidden"
			android:theme="@style/EmbeddedSocialSdkAppTheme.Stub"
			/>

		<activity
			android:name="com.microsoft.embeddedsocial.ui.activity.PinsActivity"
			android:configChanges="keyboard|keyboardHidden|screenSize"
			android:windowSoftInputMode="stateHidden"
			android:label="@string/es_screen_title_my_pins"
			android:theme="@style/EmbeddedSocialSdkAppTheme.Stub"
			/>

		<activity
			android:name="com.microsoft.embeddedsocial.ui.activity.MyProfileActivity"
			android:configChanges="keyboard|keyboardHidden|screenSize"
			android:windowSoftInputMode="stateHidden"
			android:label=""
			android:theme="@style/EmbeddedSocialSdkAppTheme.Stub"
			/>

		<activity
			android:name="com.microsoft.embeddedsocial.ui.activity.OptionsActivity"
			android:configChanges="keyboard|keyboardHidden|screenSize"
			android:windowSoftInputMode="stateHidden"
			android:label="@string/es_screen_title_options"
			android:theme="@style/EmbeddedSocialSdkAppTheme.Stub"
			/>

		<activity
			android:name="com.microsoft.embeddedsocial.ui.activity.EditPostActivity"
			android:configChanges="keyboard|keyboardHidden|screenSize"
			android:windowSoftInputMode="stateHidden"
			android:label="@string/es_screen_title_edit_post"
			android:theme="@style/EmbeddedSocialSdkAppTheme.Stub"
			/>

		<activity
			android:name="com.microsoft.embeddedsocial.ui.activity.DeleteAccountActivity"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
			android:windowSoftInputMode="stateHidden"
			android:label="@string/es_screen_title_delete_account"
			android:theme="@style/EmbeddedSocialSdkAppTheme.Stub"
			/>

		<activity
			android:name="com.microsoft.embeddedsocial.ui.activity.FriendlistActivity"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
			android:windowSoftInputMode="stateHidden"
			android:label=""
			android:theme="@style/EmbeddedSocialSdkAppTheme.Stub"
			/>

		<activity
			android:name="com.microsoft.embeddedsocial.ui.activity.ViewImageActivity"
			android:configChanges="keyboard|keyboardHidden|screenSize"
			android:windowSoftInputMode="stateHidden"
			android:theme="@style/EmbeddedSocialSdkAppTheme.Stub"
			/>

		<activity
			android:name="com.microsoft.embeddedsocial.ui.activity.GateActivity"
			android:theme="@android:style/Theme.Translucent.NoTitleBar"
			/>
		<activity
			android:name="com.facebook.FacebookActivity"
			android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
			android:label="@string/es_lib_name"
			android:theme="@android:style/Theme.Translucent.NoTitleBar"
			/>

		<activity
			android:name="com.microsoft.embeddedsocial.ui.activity.WebAuthenticationActivity"
			android:theme="@android:style/Theme.NoTitleBar"
			android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
			/>

		<service
			android:name="com.microsoft.embeddedsocial.service.WorkerService"
			android:exported="false"
			/>

		<receiver
			android:name="com.google.android.gms.gcm.GcmReceiver"
			android:exported="true"
			android:permission="com.google.android.c2dm.permission.SEND"
			>
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE"/>
				<action android:name="com.google.android.c2dm.intent.REGISTRATION"/>

				<category android:name="${applicationId}"/>
			</intent-filter>
		</receiver>

		<service
			android:name="com.microsoft.embeddedsocial.service.PushNotificationListenerService"
			android:exported="false"
			>
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE"/>
			</intent-filter>
		</service>
		<service
			android:name="com.microsoft.embeddedsocial.service.GcmInstanceIdListenerService"
			android:exported="false"
			>
			<intent-filter>
				<action android:name="com.google.android.gms.iid.InstanceID"/>
			</intent-filter>
		</service>

	</application>

</manifest>
